@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    text-decoration: none;


}
.head{
    display:flex;
    align-items: center;
    height:40px;
    justify-content: space-around;
}
.address{
    display: flex;
    align-items: center;
}
.add{
    margin-right:20px ;

}
.phone{

}
.bt{
    display: flex;
    align-items: center;
}
.bt1{
    border: none;
    padding: 10px 10px;
    margin-right: 12px;
    background-color: white;
    font-size: 15px;

}
.lan{
    display: flex;
    align-items: center;
    margin-right:10px ;
}
.Navbar{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    list-style:none;
    background-color: black;

    
}
a{
    color:inherit;
}
.menu{
    display:flex;
    align-items: center;
    color: white;
    margin-right: 80px;
    font-weight: 500;

}
.menu-items{
    margin: 0 30px;
    list-style: none;
    color: white;

    font-size:20px;
}
.logo{
    width: 120px;
    margin-right:50px;
}
.Book{
    background-color: white;
    border:none;
    padding: 12px 24px;
    margin-left: 20px;
    color: black;
    margin-left: 15px;
    letter-spacing: 1.4;
    
}
.sect1{
    height:90vh;
}
.contents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-family: sans-serif;
    /* max-width: 1000px; */
    background-image: url(hero1.webp);
    padding: 8% 0 10% 0;
    font-family: "Barlow Condensed",sans-serif;

}
.sect1_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#C1A425;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: "Barlow Condensed",sans-serif;
}
.text2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    font-weight: 800;
    font-size: 72px;
    margin: 5% 0;
    width: 750px;
    text-align: center;
    font-family: "Barlow Condensed",sans-serif;
}
.form{
    display: flex;
    align-items: center;
    height: 130px;
    width: 855px;
    background-color: white;
    justify-content: space-between;
    margin-top: 3%;
    padding-left:4% ;
}
.form-items{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-weight: 520;
    margin: 20px 0;
    height: 100%;

}
.input{
    color:gray;
    padding: 10px 20px;
    font-size: 17px;
    border: 2px solid rgb(228,228,228);
}
.input1{
    color:gray;
    padding: 10px 20px;
    font-size: 17px;
    border: 2px solid rgb(228,228,228);
}
.bt2{
    height:100%;
    font-size: 14px;
    background-color:rgb(29,28,28);
    color: white;
    border: none;
    width:120px;
    
}
